body {
	margin: 0;
	font-family: "Times New Roman";
	font-size: 12pt;
	height: 209mm;
	width: 297mm;
}

/* Пушные - лицевая сторона */

.list1 {
	background: url("push-1.jpg") no-repeat;
	background-size: contain;
	box-sizing: border-box;
	padding-top: 35mm;
	padding-right: 20mm;
	padding-left: 46mm;
}

.table1 {
	margin-top: 39mm;
	width: 75mm;
	font-size: 8pt;
	margin-right: 83mm;
	display: inline-block;
	vertical-align: top;
}

.table1__item:not(:last-child) {
	margin-bottom: 2.2mm;
}

.table1__number {
	display: inline-block;
	width: 7mm;
	text-align: center;
	margin-right: .3mm;
	vertical-align: top;
}

.table1__date-place {
	width: 21mm;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-right: 2mm;
}

.table1__kind {
	width: 21mm;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-right: 2mm;
}

.table1__amount {
	width: 21mm;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.info1 {
	display: inline-block;
	vertical-align: top;
	margin-top: 11.7mm;
}

.info1__organ {
	display: block;
	width: 71mm;
	text-align: center;
	font-size: 8pt;
}

.info1__fio {
	display: block;
	margin-top: 19mm;
	margin-left: 2mm;
	width: 69mm;
	text-indent: 33mm;
	height: 9mm;
}

.info1__date {
	margin-top: 7mm;
}

.info1__day {
	display: inline-block;
	vertical-align: top;
	margin-left: 12mm;
	width: 9mm;
	text-align: center;
}

.info1__month {
	display: inline-block;
	vertical-align: top;
	margin-left: 1mm;
	width: 30mm;
	text-align: center;
}

.info1__year {
	display: inline-block;
	vertical-align: top;
	margin-left: 4mm;
	width: 8mm;
	text-align: center;
}

.info1__id {
	margin-top: .7mm;
}

.info1__serial {
	display: inline-block;
	vertical-align: top;
	margin-left: 9mm;
	width: 13mm;
	text-align: center;
}

.info1__number {
	display: inline-block;
	vertical-align: top;
	margin-left: 4mm;
	width: 39mm;
	text-align: center;
}

.info1__place {
	display: block;
	margin-top: 2.7mm;
	margin-left: 2mm;
	width: 69mm;
	text-indent: 19mm;
	height: 14.5mm;
}

.info1__date-v {
	margin-top: 15mm;
}

.info1__day-v {
	display: inline-block;
	vertical-align: top;
	margin-left: 33mm;
	width: 8mm;
	text-align: center;
}

.info1__month-v {
	display: inline-block;
	vertical-align: top;
	margin-left: 2mm;
	width: 14mm;
	text-align: center;
}

.info1__year-v {
	display: inline-block;
	vertical-align: top;
	margin-left: 3mm;
	width: 6mm;
	text-align: center;
}

.info1__fio-v {
	display: block;
	margin-top: 0.7mm;
	margin-left: 2mm;
	width: 69mm;
	text-indent: 33mm;
	height: 9mm;
}

/* Пушные - обратная сторона */

.list2 {
	background: url("push-2.jpg") no-repeat;
	background-size: contain;
	box-sizing: border-box;
	padding-top: 36mm;
	padding-right: 3mm;
	padding-left: 17mm;
}

.table2 {
	margin-top: 52mm;
	width: 75mm;
	font-size: 8pt;
	margin-right: 1mm;
	display: inline-block;
	vertical-align: top;
}

.table2__item:not(:last-child) {
	margin-bottom: 3.2mm;
}

.table2__number {
	display: inline-block;
	vertical-align: top;
	width: 6mm;
	text-align: center;
	margin-right: 1.3mm;
}

.table2__kind {
	width: 15mm;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-right: 2mm;
}

.table2__start-date {
	width: 11mm;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-right: 1mm;
}

.table2__end-date {
	width: 10mm;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-right: 2mm;
}

.table2__norm-day {
	width: 9mm;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-right: 2mm;
}

.table2__norm-season {
	width: 10mm;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.info2 {
	display: inline-block;
	vertical-align: top;
	margin-top: 12.8mm;
	margin-left: 3mm;
}

.info2__organ {
	display: block;
	width: 71mm;
	text-align: center;
	font-size: 8pt;
}

.info2__fio {
	display: block;
	margin-top: 19.3mm;
	margin-left: 2mm;
	width: 69mm;
	text-indent: 33mm;
	height: 10mm;
}

.info2__date {
	margin-top: 7.3mm;
}

.info2__day {
	display: inline-block;
	vertical-align: top;
	margin-left: 12mm;
	width: 9mm;
	text-align: center;
}

.info2__month {
	display: inline-block;
	vertical-align: top;
	margin-left: 1mm;
	width: 30mm;
	text-align: center;
}

.info2__year {
	display: inline-block;
	vertical-align: top;
	margin-left: 4mm;
	width: 8mm;
	text-align: center;
}

.info2__id {
	margin-top: .4mm;
}

.info2__serial {
	display: inline-block;
	vertical-align: top;
	margin-left: 9mm;
	width: 13mm;
	text-align: center;
}

.info2__number {
	display: inline-block;
	vertical-align: top;
	margin-left: 4mm;
	width: 39mm;
	text-align: center;
}

.info2__place {
	display: block;
	margin-top: 0.7mm;
	margin-left: 2mm;
	width: 69mm;
	text-indent: 19mm;
	height: 14mm;
}

.info2__date-v {
	margin-top: 15mm;
}

.info2__day-v {
	display: inline-block;
	vertical-align: top;
	margin-left: 33mm;
	width: 8mm;
	text-align: center;
}

.info2__month-v {
	display: inline-block;
	vertical-align: top;
	margin-left: 2mm;
	width: 14mm;
	text-align: center;
}

.info2__year-v {
	display: inline-block;
	vertical-align: top;
	margin-left: 3mm;
	width: 6mm;
	text-align: center;
}

.info2__fio-v {
	display: block;
	margin-top: 2mm;
	margin-left: 2mm;
	width: 69mm;
	text-indent: 33mm;
	height: 10mm;
}

.resource2 {
	display: inline-block;
	vertical-align: top;
	margin-left: 8mm;
	margin-top: 8mm;
	font-size: 10pt;
}

.resource2__item:not(:last-child) {
	margin-bottom: 8.5mm;
}

.resource2__kind-amount {
	display: block;
	width: 34mm;
	text-align: center;
	margin-bottom: 7.5mm;
}

.resource2__day {
	display: inline-block;
	vertical-align: top;
	margin-left: 1mm;
	width: 7.6mm;
	text-align: center;
}

.resource2__month {
	display: inline-block;
	vertical-align: top;
	margin-left: 1.5mm;
	width: 14mm;
	text-align: center;
}

.resource2__year {
	display: inline-block;
	vertical-align: top;
	margin-left: 2.7mm;
	width: 5mm;
	text-align: center;
}

/* Пернатые - лицевая сторона */

.list3 {
	background: url("pernat-1.jpg") no-repeat;
	background-size: contain;
	box-sizing: border-box;
	padding-top: 39mm;
	padding-right: 14mm;
	padding-left: 38mm;
}

.table3 {
	margin-top: 29mm;
	width: 77mm;
	font-size: 8pt;
	margin-right: 91mm;
	display: inline-block;
	vertical-align: top;
}

.table3__item:not(:last-child) {
	margin-bottom: 2.4mm;
}

.table3__number {
	display: inline-block;
	vertical-align: top;
	width: 7mm;
	text-align: center;
	margin-right: .3mm;
}

.table3__date-place {
	width: 29mm;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-right: 2mm;
}

.table3__kind {
	width: 20mm;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-right: 3mm;
}

.table3__amount {
	width: 12mm;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.info3 {
	display: inline-block;
	vertical-align: top;
	margin-top: 10.5mm;
}

.info3__organ {
	display: block;
	width: 75mm;
	text-align: center;
	font-size: 8pt;
}

.info3__fio {
	display: block;
	margin-top: 23mm;
	margin-left: 2mm;
	width: 73mm;
	text-indent: 29mm;
	line-height: 1.6;
	height: 13mm;
}

.info3__id {
	margin-top: 1mm;
}

.info3__date {
	margin-left: 38mm;
	margin-top: 1mm;
}

.info3__day {
	display: inline-block;
	vertical-align: top;
	width: 5mm;
	text-align: center;
}

.info3__month {
	display: inline-block;
	vertical-align: top;
	margin-left: 2mm;
	width: 17mm;
	text-align: center;
}

.info3__year {
	display: inline-block;
	vertical-align: top;
	margin-left: 2mm;
	width: 8mm;
	text-align: center;
}

.info3__serial {
	display: inline-block;
	vertical-align: top;
	margin-left: 33mm;
	width: 13mm;
	text-align: center;
}

.info3__number {
	display: inline-block;
	margin-left: 4mm;
	vertical-align: top;
	width: 24mm;
	text-align: center;
}

.info3__place {
	display: block;
	margin-top: 2.5mm;
	margin-left: 2mm;
	width: 73mm;
	text-indent: 19mm;
	line-height: 1.4;
	height: 22mm;

}

.info3__date-v {
	margin-top: 5.5mm;
}

.info3__day-v {
	display: inline-block;
	vertical-align: top;
	margin-left: 22mm;
	width: 5mm;
	text-align: center;
}

.info3__month-v {
	display: inline-block;
	vertical-align: top;
	margin-left: 2mm;
	width: 15mm;
	text-align: center;
}

.info3__year-v {
	display: inline-block;
	vertical-align: top;
	margin-left: 4mm;
	width: 5mm;
	text-align: center;
}

.info3__fio-v {
	display: block;
	margin-top: 2mm;
	margin-left: 2mm;
	width: 73mm;
	text-indent: 33mm;
	line-height: 1.9;
	height: 15mm;
}

/* Пернатые - обратная сторона */

.list4 {
	background: url("pernat-2.jpg") no-repeat;
	background-size: contain;
	box-sizing: border-box;
	padding-top: 40mm;
	padding-right: 9mm;
	padding-left: 10mm;
}

.table4 {
	margin-top: 43mm;
	width: 75mm;
	font-size: 8pt;
	margin-right: 8mm;
	display: inline-block;
	vertical-align: top;
}

.table4__item:not(:last-child) {
	margin-bottom: 2.1mm;
}

.table4__number {
	display: inline-block;
	vertical-align: top;
	width: 6mm;
	text-align: center;
	margin-right: 1.3mm;
}

.table4__kind {
	width: 18mm;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-right: 2mm;
}

.table4__start-date {
	width: 12mm;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-right: 1mm;
}

.table4__end-date {
	width: 11mm;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-right: 2mm;
}

.table4__norm-day {
	width: 7mm;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-right: 2mm;
}

.table4__norm-season {
	width: 7mm;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.info4 {
	display: inline-block;
	vertical-align: top;
	margin-top: 8.9mm;
}

.info4__organ {
	display: block;
	width: 75mm;
	text-align: center;
	font-size: 8pt;
}

.info4__fio {
	display: block;
	margin-top: 21mm;
	margin-left: 2mm;
	width: 73mm;
	text-indent: 29mm;
	line-height: 1.6;
	height: 13mm;
}

.info4__id {
	margin-top: 3mm;
}

.info4__date {
	margin-left: 38mm;
	margin-top: .7mm;
}

.info4__day {
	display: inline-block;
	vertical-align: top;
	width: 5mm;
	text-align: center;
}

.info4__month {
	display: inline-block;
	vertical-align: top;
	margin-left: 2mm;
	width: 17mm;
	text-align: center;
}

.info4__year {
	display: inline-block;
	vertical-align: top;
	margin-left: 2mm;
	width: 8mm;
	text-align: center;
}

.info4__serial {
	display: inline-block;
	vertical-align: top;
	margin-left: 34mm;
	width: 12mm;
	text-align: center;
}

.info4__number {
	display: inline-block;
	vertical-align: top;
	margin-left: 3mm;
	width: 24mm;
	text-align: center;
}

.info4__place {
	display: block;
	margin-top: 2.7mm;
	margin-left: 2mm;
	width: 73mm;
	text-indent: 19mm;
	line-height: 1.4;
	height: 22mm;

}

.info4__date-v {
	margin-top: 5.5mm;
}

.info4__day-v {
	display: inline-block;
	vertical-align: top;
	margin-left: 20mm;
	width: 5mm;
	text-align: center;
}

.info4__month-v {
	display: inline-block;
	vertical-align: top;
	margin-left: 2mm;
	width: 15mm;
	text-align: center;
}

.info4__year-v {
	display: inline-block;
	vertical-align: top;
	margin-left: 4mm;
	width: 5mm;
	text-align: center;
}

.info4__fio-v {
	display: block;
	margin-top: 2.7mm;
	margin-left: 2mm;
	width: 73mm;
	text-indent: 33mm;
	line-height: 1.9;
	height: 15mm;
}

.resource4 {
	display: inline-block;
	margin-left: 7mm;
	margin-top: 2mm;
	font-size: 10pt;
}

.resource4__item:not(:last-child) {
	margin-bottom: 9.3mm;
}

.resource4__kind-amount {
	display: block;
	width: 25mm;
	text-align: center;
	margin-bottom: 7.3mm;
}

.resource4__day {
	display: inline-block;
	vertical-align: top;
	margin-left: 3mm;
	width: 3.6mm;
	text-align: center;
}

.resource4__month {
	display: inline-block;
	vertical-align: top;
	margin-left: 1.5mm;
	width: 7mm;
	text-align: center;
}

.resource4__year {
	display: inline-block;
	vertical-align: top;
	margin-left: 3mm;
	width: 3mm;
	text-align: center;
}

/* Копытные - лицевая сторона */

.list5 {
	background: url("cop-1.jpg") no-repeat;
	background-size: contain;
	padding-top: 12mm;
	padding-right: 82mm;
	padding-left: 8mm;
	box-sizing: border-box;
}

.info5-1 {
	display: inline-block;
	vertical-align: top;
	margin-right: 10mm;
}

.info5-1__subject {
	display: block;
	width: 96mm;
	text-align: center;
	font-size: 8pt;
	margin-bottom: 2mm;
}

.info5-1__organ {
	display: block;
	width: 96mm;
	text-align: center;
	font-size: 8pt;
	margin-bottom: 42mm;
	line-height: 3;
}

.info5-1__fio {
	display: block;
	margin-top: 1mm;
	margin-left: 2mm;
	width: 95mm;
	text-indent: 31mm;
	line-height: 1.6;
	height: 13mm;
}

.info5-1__range-date:first-of-type {
	margin-bottom: 3mm;
}

.info5-1__start-date {
	display: inline-block;
	vertical-align: top;
	margin-right: 9mm;
	margin-left: 5mm;
}

.info5-1__end-date {
	display: inline-block;
	vertical-align: top;
}

.info5-1__kind-hunt {
	display: block;
	margin-top: 3mm;
	margin-left: 17mm;
}

.info5-1__id {
	margin-top: 11mm;
}

.info5-1__date {
	margin-left: 28mm;
	margin-top: 3.7mm;
}

.info5-1__day {
	display: inline-block;
	vertical-align: top;
	width: 7mm;
	text-align: center;
}

.info5-1__month {
	display: inline-block;
	vertical-align: top;
	margin-left: 2mm;
	width: 26mm;
	text-align: center;
}

.info5-1__year {
	display: inline-block;
	vertical-align: top;
	margin-left: 5mm;
	width: 6mm;
	text-align: center;
}

.info5-1__day-hunt {
	display: inline-block;
	vertical-align: top;
	width: 9mm;
	text-align: center;
}

.info5-1__month-hunt {
	display: inline-block;
	vertical-align: top;
	margin-left: 2mm;
	width: 21mm;
	text-align: center;
}

.info5-1__year-hunt {
	display: inline-block;
	vertical-align: top;
	margin-left: 1mm;
	width: 5mm;
	text-align: center;
	font-size: 9pt;
}

.info5-1__serial {
	display: inline-block;
	vertical-align: top;
	margin-left: 24mm;
	width: 9mm;
	text-align: center;
}

.info5-1__number {
	display: inline-block;
	vertical-align: top;
	margin-left: 3mm;
	width: 28mm;
	text-align: center;
}

.info5-1__place {
	display: block;
	margin-top: 1.8mm;
	margin-left: 2mm;
	width: 95mm;
	text-indent: 19mm;
	line-height: 1.5;
	height: 19mm;
}

.info5-1__description {
	display: block;
	margin-top: 8.8mm;
	margin-left: 2mm;
	width: 95mm;
	text-indent: 58mm;
	line-height: 1.5;
	height: 12mm;
}

.info5-1__fio-v {
	display: block;
	margin-top: 11mm;
	margin-left: 29mm;
	width: 68mm;
}

.info5-1__date-v {
	margin-top: 6.5mm;
}

.info5-1__day-v {
	display: inline-block;
	vertical-align: top;
	margin-left: 4mm;
	width: 5mm;
	text-align: center;
}

.info5-1__month-v {
	display: inline-block;
	vertical-align: top;
	margin-left: 3mm;
	width: 20mm;
	text-align: center;
}

.info5-1__year-v {
	display: inline-block;
	vertical-align: top;
	margin-left: 4mm;
	width: 5mm;
	text-align: center;
}

.info5-2 {
	display: inline-block;
	vertical-align: top;
}

.info5-2__subject {
	display: block;
	width: 97mm;
	text-align: center;
	font-size: 8pt;
	margin-bottom: 2mm;
}

.info5-2__organ {
	display: block;
	width: 97mm;
	text-align: center;
	font-size: 8pt;
	margin-bottom: 41.7mm;
	line-height: 3;
}

.info5-2__fio {
	display: block;
	margin-top: 1mm;
	margin-left: 2mm;
	width: 95mm;
	text-indent: 31mm;
	line-height: 1.6;
	height: 13mm;
}

.info5-2__range-date:first-of-type {
	margin-bottom: 3mm;
}

.info5-2__start-date {
	display: inline-block;
	vertical-align: top;
	margin-right: 10mm;
	margin-left: 3mm;
}

.info5-2__end-date {
	display: inline-block;
	vertical-align: top;
}

.info5-2__kind-hunt {
	display: block;
	margin-top: 3mm;
	margin-left: 17mm;
}

.info5-2__id {
	margin-top: 11mm;
}

.info5-2__date {
	margin-left: 28mm;
	margin-top: 3.7mm;
}

.info5-2__day {
	display: inline-block;
	vertical-align: top;
	width: 7mm;
	text-align: center;
}

.info5-2__month {
	display: inline-block;
	vertical-align: top;
	margin-left: 2mm;
	width: 26mm;
	text-align: center;
}

.info5-2__year {
	display: inline-block;
	vertical-align: top;
	margin-left: 5mm;
	width: 6mm;
	text-align: center;
}

.info5-2__day-hunt {
	display: inline-block;
	vertical-align: top;
	width: 9mm;
	text-align: center;
}

.info5-2__month-hunt {
	display: inline-block;
	vertical-align: top;
	margin-left: 2mm;
	width: 21mm;
	text-align: center;
}

.info5-2__year-hunt {
	display: inline-block;
	vertical-align: top;
	margin-left: 3mm;
	width: 4mm;
	text-align: center;
	font-size: 9pt;
}

.info5-2__serial {
	display: inline-block;
	vertical-align: top;
	margin-left: 24mm;
	width: 9mm;
	text-align: center;
}

.info5-2__number {
	display: inline-block;
	vertical-align: top;
	margin-left: 3mm;
	width: 28mm;
	text-align: center;
}

.info5-2__place {
	display: block;
	margin-top: 1.8mm;
	margin-left: 2mm;
	width: 95mm;
	text-indent: 19mm;
	line-height: 1.5;
	height: 19mm;
}

.info5-2__description {
	display: block;
	margin-top: 8.8mm;
	margin-left: 2mm;
	width: 95mm;
	text-indent: 58mm;
	line-height: 1.5;
	height: 12mm;
}

.info5-2__fio-v {
	display: block;
	margin-top: 11mm;
	margin-left: 29mm;
	width: 68mm;
}

.info5-2__date-v {
	margin-top: 6.5mm;
}

.info5-2__day-v {
	display: inline-block;
	vertical-align: top;
	margin-left: 2mm;
	width: 5mm;
	text-align: center;
}

.info5-2__month-v {
	display: inline-block;
	vertical-align: top;
	margin-left: 3mm;
	width: 21mm;
	text-align: center;
}

.info5-2__year-v {
	display: inline-block;
	vertical-align: top;
	margin-left: 5mm;
	width: 5mm;
	text-align: center;
}

/* Копытные - обратная сторона */

.list6 {
	background: url("cop-2.jpg") no-repeat;
	background-size: contain;
	box-sizing: border-box;
	padding-right: 117mm;
	padding-left: 11mm;
	padding-top: 2mm;
}

.resource6 {
	display: inline-block;
	vertical-align: top;
}

.resource6__item:not(:last-child) {
	margin-bottom: 6.8mm;
}

.resource6__kind {
	display: block;
	width: 51mm;
	text-align: center;
	margin-bottom: 5.5mm;
}

.resource6__day {
	display: inline-block;
	vertical-align: top;
	margin-left: 15mm;
	width: 6.6mm;
	text-align: center;
}

.resource6__month {
	display: inline-block;
	vertical-align: top;
	margin-left: 2.5mm;
	width: 14mm;
	text-align: center;
}

.resource6__year {
	display: inline-block;
	vertical-align: top;
	margin-left: 6.7mm;
	width: 5mm;
	text-align: center;
}

.info6 {
	display: inline-block;
	vertical-align: top;
	margin-top: 126mm;
	margin-left: 17mm;
}

.info6__kind {
	display: block;
	margin-left: 41mm;
	margin-bottom: 9mm;
	width: 58mm;
	text-align: center;
}

.info6__age {
	display: block;
	margin-left: 30mm;
	width: 69mm;
	text-align: center;
}

.info6__description {
	margin-top: 9mm;
	margin-left: 41mm;
}

.info6__weight {
	display: inline-block;
	vertical-align: top;
	width: 30mm;
	text-align: center;
}

.info6__embryo {
	display: inline-block;
	vertical-align: top;
	width: 18mm;
	text-align: center;
	margin-left: 4mm;
}

.info6__place {
	display: block;
	margin-top: 3mm;
	width: 76mm;
	margin-left: 23mm;
}

.info6__date {
	margin-top: 8.5mm;
	font-size: 9pt;
}

.info6__date-wound {
	display: inline-block;
	vertical-align: top;
	width: 47mm;
	text-align: center;
	margin-right: 3mm;
}

.info6__date-extraction {
	display: inline-block;
	vertical-align: top;
	width: 45mm;
	text-align: center;
}

